<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hola mundo con Vue.js</title>
  </head>
  <body>
    <!-- Contenedor de Vue (Todo lo de vue debe ir dentro de un div) -->
    <div id="app">

        <h1>{{ titulo }}</h1>
      
        <!-- Se utiliza la palabra reservada v-model para unir nuestro formulario
        con el archivo js-->
      
        <input type="text" v-model="nuevaFruta"/>
      
      <!-- Para iniciar un evento en vue se utiliza la palabra reservada
        v-on o el abreviado @ : y el nombre del evento-->

      <button @:click="agregarFruta">Agregar</button>
      
      
      <ul>
        <!-- ciclo for para ir creando distintas etiquetas li, una para cada elemento -->
        <li v-for="fruta in frutasObjeto">
          {{ fruta.nombre }}:
          <span v-if="fruta.cantidad === 0"> sin stock </span>
          <span v-else> {{ fruta.cantidad }} </span>
        </li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="01.js"></script>
  </body>
</html>
